.h-wrapper{
    /* background: var(--black);
    color: white; */
    position: fixed; /* Sticks to the top of the screen */
    top: 0;
    left: 0;
    width: 100%;
    background: var(--black);
    color: white;
    z-index: 1000; /* Ensure it is above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow for better visibility */
    font-size: 20px;

}
.h-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
    max-width: 100%;
}

.h-menu{
    display: flex;
    gap: 3rem;
}
.h-menu>*:hover{
    cursor: pointer;  
    color: var(--secondary);              
}
